<div class="g-row sign-in">
  <div class="g-col">
    <h1 class="sign-in__heading">Sign in</h1>
    <button class="sign-in__button" (click)="signInWithGithub()" type="button">GitHub</button>
    <button class="sign-in__button" (click)="signInWithGoogle()" type="button">Google</button>
    <button class="sign-in__button" (click)="signInWithTwitter()" type="button">Twitter</button>
    <button class="sign-in__button" (click)="signInWithFacebook()" type="button">Facebook</button>
  </div>
</div>
