<div class="g-row sign-in">
	<a class="sign-in__button" [routerLink]="['/Home']">Back</a>
</div>
<div class="g-row ">
	<div class="g-col">
		<task-form></task-form>
	</div>
	<div class="g-col">
		<task-list [tasks]="taskStore.tasks"></task-list>
	</div>
</div>
