<header class="header">
  <div class="g-row">
    <div class="g-col">
      <h1 class="header__title">Ralfger</h1>

      <ul class="header__links">
        <li *ngIf="authenticated"><a class="header__link" (click)="signOut()" href="javascript:">Sign out</a></li>
      </ul>
    </div>
  </div>
</header>


<main class="main">
  <router-outlet></router-outlet>
</main>
